<!-- <p>news-create-page works!</p>

<form [formGroup]="newsGroup" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titre : </label>
        <input type="text" formControlName="title" id="title">
    </div>
        <div>
        <label for="description">Résumé : </label>
        <input type="text" formControlName="description" id="description">
    </div>
        <div>
        <label for="text">Article : </label>
        <input type="text" formControlName="text" id="text">
    </div>
    <div>
        <label for="pictures">Photos : </label>
        <input type="text" formControlName="pictures" id="pictures">
    </div>
    <div>
        <label for="tags">Etiquettes : </label>
        <input type="text" formControlName="tags" id="tags">
    </div>
    <button>Soumettre</button>
</form> -->
<p>Text préambule</p>

  <!-- <p-toast /> -->
        <div class="card flex justify-center form">
            <form [formGroup]="newsGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
                <div class="flex flex-col gap-1">
                    <input pInputText type="text" id="title" placeholder="Titre" formControlName="title" [invalid]="isInvalid('title')" />
                    @if (isInvalid('title')) {
                        <p-message severity="error" size="small" variant="simple">Title is required.</p-message>
                    }
                </div>
                <div class="flex flex-col gap-1">
                    <input pInputText type="text" id="description" placeholder="Résumé" formControlName="description" [invalid]="isInvalid('description')" />
                    @if (isInvalid('description')) {
                        @if (newsGroup.get('description')?.errors?.['required']) {
                            <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                        }
                        <!-- @if (exampleForm.get('email')?.errors?.['email']) {
                            <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                        } -->
                    }
                </div>
                    <div class="flex flex-col gap-1">
                    <textarea type="text" rows="5" cols="30" pInputTextarea id="text" placeholder="Texte de l'article" formControlName="text"></textarea>
                </div>
                <div class="flex flex-col gap-1">
                    <input pInputText type="text" id="pictures" placeholder="chemin de l'image" formControlName="pictures" [invalid]="isInvalid('pictures')" />
                    @if (isInvalid('pictures')) {
                        <p-message severity="error" size="small" variant="simple">Title is required.</p-message>
                    }


                </div>
                <div>
                    <!-- <div class="flex flex-col gap-1">
                        <input pInputText type="text" id="tags" placeholder="Étiquettes" formControlName="tags" />
                    </div> -->
                    @if (pluralTags)
                    {
                        <div formArrayName="tags">
                            @for (tag of tags.controls; track tag; let i=$index) 
                            {
                                <div [formGroupName]="i">
                                    <input pInputText type="text" id="tag-{{ i }}" placeholder="Étiquettes" formControlName="name" />
                                    <p-button label="Retirer étiquette" (onClick)="deleteTag(i)"/>
                                </div>
                            }
                        </div>
                        }
                    <p-button label="Ajouter étiquette" (onClick)="addTag()"/>
                </div>
                <button pButton severity="secondary" type="submit"><span pButtonLabel>Submit</span></button>
            </form>
        </div>