@import "primeicons/primeicons.css";
.form
{
    border: 2px solid orange;
    background-color: yellow;
    margin: 0 25px;
    padding: auto 25px;
}

.filter
{
    max-width: 60%;
    margin: 15px auto;
    display: flexbox;
    align-content:space-evenly;
    border: 2px solid orange;
    padding: 3px 5px;
}

.chips
{
    background-color: bisque;
    padding: 6px 11px;
    margin: 8px 0;
}
label
{
    color: pink;
}