:host {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  header {
    background-color: lavender;
    padding: 0.4rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

  }

  app-nav-bar
  {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    background-color: hotpink;

    .links 
    {
        color: red;
        display: flex;
        gap: 1rem;
    }
  }

  main {
    background-color: black;
    flex: 1;
  }

  footer {
    padding: 0.5rem;
    background-color: black;
    text-align: center;
    color: chartreuse;
  }
}

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
      min-height: 700px;
      height: fit-content;
      position: relative;
      z-index: 1;

    //   h2 {
    //     font-size: 6rem;
    //     font-weight: bold;
    //     color: transparent;
    //     -webkit-background-clip: text;
    //     background-clip: text;
    //     background-image: linear-gradient(
    //       to bottom,
    //       #fff 0,
    //       rgba(255, 255, 255, 0.1) 95%
    //     );
    //   }
    }