body
{
    background-color: hotpink;
}
.hidden
{
    display: none;
}
tr, td, table
{
    border: 1px solid yellow;
    background-color: rebeccapurple;
    color: lavenderblush;
}
td
{
    padding: 5px 9px;
    //margin: 8px;
}